# Explanatory Data Analysis Challenge (Olympic Games)

## Data Import and Inspection

In [304]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [305]:
import seaborn as sns

In [306]:
summer = pd.read_csv('summer.csv')
winter = pd.read_csv('winter.csv')
dic = pd.read_csv('dictionary.csv')

In [307]:
summer.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

In [308]:
winter.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1924,Chamonix,Biathlon,Biathlon,"BERTHET, G.",FRA,Men,Military Patrol,Bronze
1,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, C.",FRA,Men,Military Patrol,Bronze
2,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, Maurice",FRA,Men,Military Patrol,Bronze
3,1924,Chamonix,Biathlon,Biathlon,"VANDELLE, André",FRA,Men,Military Patrol,Bronze
4,1924,Chamonix,Biathlon,Biathlon,"AUFDENBLATTEN, Adolf",SUI,Men,Military Patrol,Gold

In [309]:
dic.head()

           Country Code  Population  GDP per Capita
0      Afghanistan  AFG  32526562.0      594.323081
1          Albania  ALB   2889167.0     3945.217582
2          Algeria  ALG  39666519.0     4206.031232
3  American Samoa*  ASA     55538.0             NaN
4          Andorra  AND     70473.0             NaN

## Merging and Concatenating

#### 1. I am merging summer and winter data frame under the name Olympcs.

In [310]:
olympics = pd.concat([summer,winter],axis = 0 , keys = ['Summer','Winter'], names = ['Edition']).reset_index().drop(columns = 'level_1')

In [311]:
olympics.head()

,Edition,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,Summer,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,Summer,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,Summer,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,Summer,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,Summer,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

In [312]:
olympics.tail()

,Edition,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
36930,Winter,2014,Sochi,Skiing,Snowboard,"JONES, Jenny",GBR,Women,Slopestyle,Bronze
36931,Winter,2014,Sochi,Skiing,Snowboard,"ANDERSON, Jamie",USA,Women,Slopestyle,Gold
36932,Winter,2014,Sochi,Skiing,Snowboard,"MALTAIS, Dominique",CAN,Women,Snowboard Cross,Silver
36933,Winter,2014,Sochi,Skiing,Snowboard,"SAMKOVA, Eva",CZE,Women,Snowboard Cross,Gold
36934,Winter,2014,Sochi,Skiing,Snowboard,"TRESPEUCH, Chloe",FRA,Women,Snowboard Cross,Bronze

#### 2. I am creating an additional column to differentiate the edition. I will use the index to make the difference between both types.

#### 3. Now I am going to add the full country name from dictionary to Olympics thanks to a join.

In [313]:
dic.head()

           Country Code  Population  GDP per Capita
0      Afghanistan  AFG  32526562.0      594.323081
1          Albania  ALB   2889167.0     3945.217582
2          Algeria  ALG  39666519.0     4206.031232
3  American Samoa*  ASA     55538.0             NaN
4          Andorra  AND     70473.0             NaN

In [314]:
olympics.Country

0        HUN
1        AUT
2        GRE
3        GRE
4        GRE
        ...
36930    GBR
36931    USA
36932    CAN
36933    CZE
36934    FRA
Name: Country, Length: 36935, dtype: object

In [315]:
olympics = olympics.merge(dic.iloc[:, :2], how = 'left', left_on ='Country', right_on = 'Code').drop(columns = ['Code'])

In [316]:
olympics.reset_index(drop = True , inplace = True)

In [317]:
olympics

,Edition,Year,City,Sport,Discipline,Athlete,Country_x,Gender,Event,Medal,Country_y
0,Summer,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold,Hungary
1,Summer,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver,Austria
2,Summer,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze,Greece
3,Summer,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold,Greece
4,Summer,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver,Greece
...,...,...,...,...,...,...,...,...,...,...,...
36930,Winter,2014,Sochi,Skiing,Snowboard,"JONES, Jenny",GBR,Women,Slopestyle,Bronze,United Kingdom
36931,Winter,2014,Sochi,Skiing,Snowboard,"ANDERSON, Jamie",USA,Women,Slopestyle,Gold,United States
36932,Winter,2014,Sochi,Skiing,Snowboard,"MALTAIS, Dominique",CAN,Women,Snowboard Cross,Silver,Canada
36933,Winter,2014,Sochi,Skiing,Snowboard,"SAMKOVA, Eva",CZE,Women,Snowboard Cross,Gold,Czech Republic
36934,Winter,2014,Sochi,Skiing,Snowboard,"TRESPEUCH, Chloe",FRA,Women,Snowboard Cross,Bronze,France

In [318]:
olympics.rename(columns = {"Country_x":"Code", "Country_y": "Country"}, inplace = True)

In [319]:
olympics.head()

,Edition,Year,City,Sport,Discipline,Athlete,Code,Gender,Event,Medal,Country
0,Summer,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold,Hungary
1,Summer,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver,Austria
2,Summer,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze,Greece
3,Summer,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold,Greece
4,Summer,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver,Greece

## Data Cleaning (Part 1)

1. If you haven´t done it yet: Assign appropriate __Column Headers__ to Country Codes (e.g. __"Code"__) and full Country Names (e.g. __"Country"__).
2. __Remove Spaces__ from column headers in olympics and dictionary.
3. For some Country Codes, there is no corresponding __full Country Name__ available (e.g. for "URS") -> __missing values__ in olympics. Identify these Country Codes and search the Web for the full Country Names. __Replace__ missing values! (Alternatively, you can find a Solution for this at the end of this Notebook!)

In [320]:
olympics.columns.str.rstrip()

Index(['Edition', 'Year', 'City', 'Sport', 'Discipline', 'Athlete', 'Code',
       'Gender', 'Event', 'Medal', 'Country'],
      dtype='object')

In [321]:
dic

             Country Code  Population  GDP per Capita
0        Afghanistan  AFG  32526562.0      594.323081
1            Albania  ALB   2889167.0     3945.217582
2            Algeria  ALG  39666519.0     4206.031232
3    American Samoa*  ASA     55538.0             NaN
4            Andorra  AND     70473.0             NaN
..               ...  ...         ...             ...
196          Vietnam  VIE  91703800.0     2111.138024
197  Virgin Islands*  ISV    103574.0             NaN
198            Yemen  YEM  26832215.0     1406.291651
199           Zambia  ZAM  16211767.0     1304.879014
200         Zimbabwe  ZIM  15602751.0      924.143819

[201 rows x 4 columns]

In [322]:
dic.rename(columns = {"GDP per Capita":"GDP"}, inplace= True)

In [323]:
olympics.loc[olympics.Country.isnull()]

,Edition,Year,City,Sport,Discipline,Athlete,Code,Gender,Event,Medal,Country
132,Summer,1896,Athens,Tennis,Tennis,"FLACK, Edwin",ZZX,Men,Doubles,Bronze,NaN
133,Summer,1896,Athens,Tennis,Tennis,"ROBERTSON, George Stuart",ZZX,Men,Doubles,Bronze,NaN
134,Summer,1896,Athens,Tennis,Tennis,"BOLAND, John",ZZX,Men,Doubles,Gold,NaN
135,Summer,1896,Athens,Tennis,Tennis,"TRAUN, Friedrich",ZZX,Men,Doubles,Gold,NaN
136,Summer,1896,Athens,Tennis,Tennis,"KASDAGLIS, Dionysios",ZZX,Men,Doubles,Silver,NaN
...,...,...,...,...,...,...,...,...,...,...,...
33961,Winter,1992,Albertville,Skiing,Freestyle Skiing,"KOZHEVNIKOVA, Yelizaveta",EUN,Women,Moguls,Silver,NaN
33977,Winter,1992,Albertville,Skiing,Ski Jumping,"GODER, Tomas",TCH,Men,K120 Team (90M),Bronze,NaN
33978,Winter,1992,Albertville,Skiing,Ski Jumping,"JEZ, Frantisek",TCH,Men,K120 Team (90M),Bronze,NaN
33979,Winter,1992,Albertville,Skiing,Ski Jumping,"PARMA, Jiri",TCH,Men,K120 Team (90M),Bronze,NaN
33980,Winter,1992,Albertville,Skiing,Ski Jumping,"SAKALA, Jaroslav",TCH,Men,K120 Team (90M),Bronze,NaN

In [324]:
olympics.loc[olympics.Country.isna()].index

Int64Index([  132,   133,   134,   135,   136,   137,   257,   258,   259,
              260,
            ...
            33939, 33947, 33949, 33953, 33954, 33961, 33977, 33978, 33979,
            33980],
           dtype='int64', length=6367)

dic_missing_value = {'URS': 'Soviet Union',
 'GDR': 'East Germany',
 'ROU': 'Romania',
 'FRG': 'West Germany',
 'TCH': 'Czechoslovakia',
 'YUG': 'Yugoslavia',
 'EUN': 'Unified Team',
 'EUA': 'Unified Team of Germany',
 'ZZX': 'Mixed teams',
 'SRB': 'Serbia',
 'ANZ': 'Australasia',
 'RU1': 'Russian Empire',
 'MNE': 'Montenegro',
 'TTO': 'Trinidad and Tobago',
 'BOH': 'Bohemia',
 'BWI': 'West Indies Federation',
 'SGP': 'Singapore',
 'IOP': 'Independent Olympic Participants'}

for key in dic_missing_value.keys():
    olympics.loc[olympics.Code == key,'Country'] = dic_missing_value[key]

In [325]:
missing_C_index = olympics.loc[olympics.Country.isnull()].index
missing_C_index

Int64Index([  132,   133,   134,   135,   136,   137,   257,   258,   259,
              260,
            ...
            33939, 33947, 33949, 33953, 33954, 33961, 33977, 33978, 33979,
            33980],
           dtype='int64', length=6367)

In [326]:
olympics.loc[olympics.Country.isnull()].Code.value_counts()

URS    2489
GDR     987
ROU     642
FRG     584
TCH     487
YUG     442
EUN     283
EUA     281
ZZX      48
SRB      31
ANZ      29
RU1      17
MNE      14
TTO      10
BOH       7
BWI       5
SGP       4
IOP       3
Name: Code, dtype: int64

In [327]:
old_c = olympics.loc[olympics.Country.isnull(), :].Code.value_counts().index
old_c

Index(['URS', 'GDR', 'ROU', 'FRG', 'TCH', 'YUG', 'EUN', 'EUA', 'ZZX', 'SRB',
       'ANZ', 'RU1', 'MNE', 'TTO', 'BOH', 'BWI', 'SGP', 'IOP'],
      dtype='object')

In [328]:
mapper = pd.Series(index=old_c, name = "Country", data = ["Soviet Union", "East Germany", "Romania", "West Germany", "Czechoslovakia",
                               "Yugoslavia", "Unified Team", "Unified Team of Germany", "Mixed teams", "Serbia",
                              "Australasia", "Russian Empire", "Montenegro", "Trinidad and Tobago", "Bohemia", 
                              "West Indies Federation", "Singapore", "Independent Olympic Participants"])

In [329]:
mapper

URS                        Soviet Union
GDR                        East Germany
ROU                             Romania
FRG                        West Germany
TCH                      Czechoslovakia
YUG                          Yugoslavia
EUN                        Unified Team
EUA             Unified Team of Germany
ZZX                         Mixed teams
SRB                              Serbia
ANZ                         Australasia
RU1                      Russian Empire
MNE                          Montenegro
TTO                 Trinidad and Tobago
BOH                             Bohemia
BWI              West Indies Federation
SGP                           Singapore
IOP    Independent Olympic Participants
Name: Country, dtype: object

In [330]:
olympics.loc[missing_C_index, "Code"].map(mapper)

132         Mixed teams
133         Mixed teams
134         Mixed teams
135         Mixed teams
136         Mixed teams
              ...
33961      Unified Team
33977    Czechoslovakia
33978    Czechoslovakia
33979    Czechoslovakia
33980    Czechoslovakia
Name: Code, Length: 6367, dtype: object

In [331]:
olympics.Country.fillna(olympics.Code.map(mapper), inplace = True)

In [332]:
olympics.loc[missing_C_index]

,Edition,Year,City,Sport,Discipline,Athlete,Code,Gender,Event,Medal,Country
132,Summer,1896,Athens,Tennis,Tennis,"FLACK, Edwin",ZZX,Men,Doubles,Bronze,Mixed teams
133,Summer,1896,Athens,Tennis,Tennis,"ROBERTSON, George Stuart",ZZX,Men,Doubles,Bronze,Mixed teams
134,Summer,1896,Athens,Tennis,Tennis,"BOLAND, John",ZZX,Men,Doubles,Gold,Mixed teams
135,Summer,1896,Athens,Tennis,Tennis,"TRAUN, Friedrich",ZZX,Men,Doubles,Gold,Mixed teams
136,Summer,1896,Athens,Tennis,Tennis,"KASDAGLIS, Dionysios",ZZX,Men,Doubles,Silver,Mixed teams
...,...,...,...,...,...,...,...,...,...,...,...
33961,Winter,1992,Albertville,Skiing,Freestyle Skiing,"KOZHEVNIKOVA, Yelizaveta",EUN,Women,Moguls,Silver,Unified Team
33977,Winter,1992,Albertville,Skiing,Ski Jumping,"GODER, Tomas",TCH,Men,K120 Team (90M),Bronze,Czechoslovakia
33978,Winter,1992,Albertville,Skiing,Ski Jumping,"JEZ, Frantisek",TCH,Men,K120 Team (90M),Bronze,Czechoslovakia
33979,Winter,1992,Albertville,Skiing,Ski Jumping,"PARMA, Jiri",TCH,Men,K120 Team (90M),Bronze,Czechoslovakia
33980,Winter,1992,Albertville,Skiing,Ski Jumping,"SAKALA, Jaroslav",TCH,Men,K120 Team (90M),Bronze,Czechoslovakia

## Data Cleaning (Part 2)

1. __Remove rows__ from olympics where the Country code is unknown. (Make sure you reset the Index -> RangeIndex)
2. Convert the column __Medal__ into an __ordered Categorical__ column ("Bronze" < "Silver" < "Gold")

In [333]:
row_to_remove_index = olympics.loc[olympics.Code.isna()].index

In [334]:
olympics.dropna(subset = ['Code'], inplace = True)

In [335]:
olympics.reset_index(drop=True,inplace=True)

In [336]:
olympics.nunique()

Edition           2
Year             33
City             41
Sport            48
Discipline       80
Athlete       26494
Code            148
Gender            2
Event           733
Medal             3
Country         145
dtype: int64

In [337]:
olympics.Medal

0          Gold
1        Silver
2        Bronze
3          Gold
4        Silver
          ...
36926    Bronze
36927      Gold
36928    Silver
36929      Gold
36930    Bronze
Name: Medal, Length: 36931, dtype: object

In [338]:
olympics.Medal = olympics.Medal.astype("category")

In [339]:
olympics.Medal.sort_values()
olympics.Medal.cat.set_categories(["Bronze", "Silver", "Gold"], ordered = True)

0          Gold
1        Silver
2        Bronze
3          Gold
4        Silver
          ...
36926    Bronze
36927      Gold
36928    Silver
36929      Gold
36930    Bronze
Name: Medal, Length: 36931, dtype: category
Categories (3, object): ['Bronze' < 'Silver' < 'Gold']

In [340]:
olympics.head()

,Edition,Year,City,Sport,Discipline,Athlete,Code,Gender,Event,Medal,Country
0,Summer,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold,Hungary
1,Summer,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver,Austria
2,Summer,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze,Greece
3,Summer,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold,Greece
4,Summer,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver,Greece

## What are the most successful countries of all times?

For the next questions, use Seaborn plots.
1. What are the __Top 10__ Countries by __total medals__?
2. __Split__ the total medals of Top 10 Countries into __Summer / Winter__. Are there typical Summer/Winter Games Countries? 
3. __Split__ the total medals of Top 10 Countries into __Gold, Silver, Bronze__.

In [341]:
olympics.groupby(['Country']).Medal.count().sort_values(ascending = False).head(10)

Country
United States     5238
Soviet Union      2489
United Kingdom    1799
Germany           1665
France            1548
Italy             1488
Sweden            1477
Canada            1274
Australia         1204
Hungary           1091
Name: Medal, dtype: int64

In [342]:
olympics.groupby(['Country','Edition']).Medal.count().unstack(fill_value = 0).sort_values(by = ['Winter'] ,ascending = False).head(10)

Edition        Summer  Winter
Country
United States    4585     653
Canada            649     625
Norway            554     457
Soviet Union     2049     440
Finland           456     434
Sweden           1044     433
Germany          1305     360
Switzerland       380     285
Austria           146     280
Russia            768     263

In [343]:
olympics_medals = olympics.groupby(['Country','Medal']).Medal.count().unstack(fill_value = 0).sort_values(by = ['Gold','Silver','Bronze'], ascending = False).head(50)

#### As we can see there are what we can call typpical winter games countries such as Canada, Norway, finland. The USA are dominated every domains by gathering the highest number of medal whatever edition it is.

In [344]:
olympics_medals

Medal                    Bronze  Gold  Silver
Country
United States              1265  2402    1571
Soviet Union                677  1088     724
Germany                     572   589     504
United Kingdom              587   580     632
Italy                       481   534     473
Sweden                      505   476     496
Canada                      369   470     435
France                      578   444     526
Hungary                     359   412     320
East Germany                279   387     321
Norway                      272   368     371
Russia                      370   333     328
Australia                   479   317     408
China                       257   306     326
Netherlands                 381   275     317
Japan                       327   230     294
Korea, South                177   209     230
Finland                     433   190     267
West Germany                227   166     191
Cuba                        116   165     129
Romania                     290   157     195
Switzerland                 270   151     244
Denmark                     160   150     202
Yugoslavia                  119   143     180
Unified Team                 80   128      75
India                        38   128      18
Poland                      242   112     184
Austria                     147   100     179
Spain                       118    99     227
Belgium                     159    93     172
New Zealand                  75    85      31
Czechoslovakia              181    82     224
Unified Team of Germany      97    76     108
Brazil                      185    73     173
Argentina                    91    69      99
Bulgaria                    140    54     145
Croatia                      35    50      40
Ukraine                      95    46      43
Uruguay                      30    44       2
Pakistan                     34    42      45
Czech Republic               55    42      34
Turkey                       23    38      25
Greece                       52    34      62
Mexico                       51    32      23
Jamaica                      47    31      49
South Africa                 37    30      39
Kenya                        30    28      35
Belarus                      64    23      41
Mixed teams                  10    23      15
Ethiopia                     16    21       8

## Do GDP, Population and Politics matter?

1. Create the following __aggregated and merged__ DataFrame with __Top 50 Countries__ (you can see an excerpt with the first 12 Countries). The Column __Total_Games__ shows the __number of Participations__ (as an approximation: determine the number of Editions where Countries have won at least one medal).

In [348]:
medals_per_country = pd.crosstab(index = olympics.Country, columns = olympics.Medal, 
                                 margins = True, margins_name= "Total")
medals_per_country

Medal                   Bronze   Gold  Silver  Total
Country
Afghanistan                  2      0       0      2
Algeria                      8      5       2     15
Argentina                   91     69      99    259
Armenia                      8      1       2     11
Australasia                  5     20       4     29
...                        ...    ...     ...    ...
West Indies Federation       5      0       0      5
Yugoslavia                 119    143     180    442
Zambia                       1      0       1      2
Zimbabwe                     1     18       4     23
Total                    12288  12405   12238  36931

[146 rows x 4 columns]

In [351]:
medals_per_country = medals_per_country[["Total", "Gold", "Silver", "Bronze"]].sort_values(by = ["Total", "Gold", "Silver", "Bronze"], ascending = False)

In [354]:
medals_per_country.drop("Total", axis = 0 , inplace = True)

KeyError: "['Total'] not found in axis"

In [355]:
medals_per_country

Medal           Total  Gold  Silver  Bronze
Country
United States    5238  2402    1571    1265
Soviet Union     2489  1088     724     677
United Kingdom   1799   580     632     587
Germany          1665   589     504     572
France           1548   444     526     578
...               ...   ...     ...     ...
Iraq                1     0       0       1
Macedonia           1     0       0       1
Mauritius           1     0       0       1
Niger               1     0       0       1
Togo                1     0       0       1

[145 rows x 4 columns]

In [356]:
medals_per_country = medals_per_country.merge(dic,how = 'left', left_index = True, 
                                              right_on = "Country").set_index("Country").drop(columns = 'Code')

In [357]:
medals_per_country.head(50)

,Total,Gold,Silver,Bronze,Population,GDP
Country,,,,,,
United States,5238,2402,1571,1265,3.214188e+08,56115.718426
Soviet Union,2489,1088,724,677,NaN,NaN
United Kingdom,1799,580,632,587,6.513823e+07,43875.969614
Germany,1665,589,504,572,8.141314e+07,41313.313995
France,1548,444,526,578,6.680838e+07,36205.568102
Italy,1488,534,473,481,6.080208e+07,29957.804315
Sweden,1477,476,496,505,9.798871e+06,50579.673649
Canada,1274,470,435,369,3.585177e+07,43248.529909
Australia,1204,317,408,479,2.378117e+07,56310.962993
Hungary,1091,412,320,359,9.844686e+06,12363.543460
Russia,1031,333,328,370,1.440968e+08,9092.580536
Norway,1011,368,371,272,5.195921e+06,74400.369777
East Germany,987,387,321,279,NaN,NaN
Netherlands,973,275,317,381,1.693652e+07,44299.768085
Finland,890,190,267,433,5.482013e+06,42311.036231
China,889,306,326,257,1.371220e+09,8027.683810
Japan,851,230,294,327,1.269585e+08,32477.215145
Switzerland,665,151,244,270,8.286976e+06,80945.079219
Romania,642,157,195,290,1.983239e+07,8972.922518
"Korea, South",616,209,230,177,5.061704e+07,27221.524051
West Germany,584,166,191,227,NaN,NaN
Poland,538,112,184,242,3.799949e+07,12554.547554
Denmark,512,150,202,160,5.676002e+06,51989.293471
Czechoslovakia,487,82,224,181,NaN,NaN
Spain,444,99,227,118,4.641827e+07,25831.582305
Yugoslavia,442,143,180,119,NaN,NaN
Brazil,431,73,173,185,2.078475e+08,8538.589975
Austria,426,100,179,147,8.611088e+06,43774.985174
Belgium,424,93,172,159,1.128572e+07,40324.027766
Cuba,410,165,129,116,1.138956e+07,NaN
Bulgaria,339,54,145,140,7.177991e+06,6993.477360
Unified Team,283,128,75,80,NaN,NaN
Unified Team of Germany,281,76,108,97,NaN,NaN
Argentina,259,69,99,91,4.341676e+07,13431.878340
New Zealand,191,85,31,75,4.595700e+06,37807.967276
India,184,128,18,38,1.311051e+09,1598.259034
Ukraine,184,46,43,95,4.519820e+07,2114.954716
Greece,148,34,62,52,1.082373e+07,18002.230578
Czech Republic,131,42,34,55,1.055122e+07,17548.338213
Belarus,128,23,41,64,9.513000e+06,5740.456495
Jamaica,127,31,49,47,2.725941e+06,5232.024583
Croatia,125,50,40,35,4.224404e+06,11535.829356
Pakistan,121,42,45,34,1.889249e+08,1434.696665
Mexico,106,32,23,51,1.270172e+08,9005.024265
South Africa,106,30,39,37,5.495692e+07,5723.973357
Kenya,93,28,35,30,4.605030e+07,1376.712829
Turkey,86,38,25,23,7.866583e+07,9125.687590
Nigeria,84,19,38,27,1.822020e+08,2640.290739
Uruguay,76,44,2,30,3.431555e+06,15573.900919
Iran,61,16,21,24,7.910927e+07,NaN

In [358]:
olympics["Games"] = olympics.apply(lambda x: str(x.Year) + " " + x.City, axis = 1)

In [359]:
olympics.Games.value_counts()

2008 Beijing                   2042
2000 Sydney                    2015
2004 Athens                    1998
2012 London                    1945
1996 Atlanta                   1859
1992 Barcelona                 1705
1988 Seoul                     1546
1984 Los Angeles               1459
1980 Moscow                    1387
1976 Montreal                  1305
1920 Antwerp                   1298
1972 Munich                    1185
1968 Mexico                    1031
1964 Tokyo                     1010
1952 Helsinki                   889
1956 Melbourne / Stockholm      885
1912 Stockholm                  885
1924 Paris                      884
1960 Rome                       882
1936 Berlin                     875
1948 London                     814
1908 London                     804
1928 Amsterdam                  710
1932 Los Angeles                615
2014 Sochi                      612
2006 Turin                      531
2010 Vancouver                  529
1900 Paris                      512
2002 Salt Lake City             481
1904 St Louis                   470
1998 Nagano                     447
1994 Lillehammer                343
1992 Albertville                325
1988 Calgary                    264
1984 Sarajevo                   222
1980 Lake Placid                218
1976 Innsbruck                  210
1972 Sapporo                    200
1968 Grenoble                   199
1964 Innsbruck                  185
1896 Athens                     151
1956 Cortina d'Ampezzo          150
1960 Squaw Valley               147
1948 St.Moritz                  140
1952 Oslo                       136
1924 Chamonix                   118
1932 Lake Placid                116
1936 Garmisch Partenkirchen     108
1928 St.Moritz                   89
Name: Games, dtype: int64

In [360]:
olympics.groupby("Country").apply(lambda x: x.Games.nunique())

Country
Afghanistan                2
Algeria                    6
Argentina                 18
Armenia                    4
Australasia                2
                          ..
West Germany              12
West Indies Federation     1
Yugoslavia                18
Zambia                     2
Zimbabwe                   3
Length: 145, dtype: int64

In [361]:
medals_per_country["Total_Games"] = olympics.groupby("Country").apply(lambda x: x.Games.nunique())

In [362]:
medals_per_country

,Total,Gold,Silver,Bronze,Population,GDP,Total_Games
Country,,,,,,,
United States,5238,2402,1571,1265,321418820.0,56115.718426,48
Soviet Union,2489,1088,724,677,NaN,NaN,18
United Kingdom,1799,580,632,587,65138232.0,43875.969614,42
Germany,1665,589,504,572,81413145.0,41313.313995,25
France,1548,444,526,578,66808385.0,36205.568102,47
...,...,...,...,...,...,...,...
Iraq,1,0,0,1,36423395.0,4943.760388,1
Macedonia,1,0,0,1,2078453.0,4852.657848,1
Mauritius,1,0,0,1,1262605.0,9252.110724,1
Niger,1,0,0,1,19899120.0,358.958152,1
Togo,1,0,0,1,7304578.0,559.635877,1

In [363]:
medals_per_country.rank(ascending=False).head(50)

,Total,Gold,Silver,Bronze,Population,GDP,Total_Games
Country,,,,,,,
United States,1.0,1.0,1.0,1.0,3.0,7.0,1.0
Soviet Union,2.0,2.0,2.0,2.0,NaN,NaN,28.0
United Kingdom,3.0,4.0,3.0,3.0,20.0,13.0,10.0
Germany,4.0,3.0,5.0,5.0,15.0,18.0,19.0
France,5.0,8.0,4.0,4.0,19.0,22.0,3.0
Italy,6.0,5.0,7.0,7.0,21.0,25.0,9.0
Sweden,7.0,6.0,6.0,6.0,71.0,10.0,3.0
Canada,8.0,7.0,8.0,12.0,35.0,15.0,3.0
Australia,9.0,13.0,9.0,8.0,46.0,6.0,14.0
Hungary,10.0,9.0,14.0,13.0,70.0,48.0,13.0
Russia,11.0,12.0,11.0,11.0,8.0,57.0,45.0
Norway,12.0,11.0,10.0,17.0,90.0,3.0,8.0
East Germany,13.0,10.0,13.0,16.0,NaN,NaN,45.0
Netherlands,14.0,15.0,15.0,10.0,55.0,12.0,11.0
Finland,15.0,18.0,17.0,9.0,88.0,17.0,6.0
China,16.0,14.0,12.0,19.0,1.0,63.0,34.5
Japan,17.0,16.0,16.0,14.0,10.0,24.0,12.0
Switzerland,18.0,22.0,18.0,18.0,78.0,2.0,6.0
Romania,19.0,21.0,23.0,15.0,51.0,59.0,24.0
"Korea, South",20.0,17.0,19.0,24.0,24.0,27.0,20.0
West Germany,21.0,19.0,24.0,21.0,NaN,NaN,40.0
Poland,22.0,27.0,25.0,20.0,33.0,47.0,17.0
Denmark,23.0,23.0,22.0,25.0,86.0,9.0,17.0
Czechoslovakia,24.0,32.0,21.0,23.0,NaN,NaN,17.0
Spain,25.0,29.0,20.0,30.0,26.0,28.0,22.0
Yugoslavia,26.0,24.0,26.0,29.0,NaN,NaN,28.0
Brazil,27.0,34.0,28.0,22.0,5.0,60.0,28.0
Austria,28.0,28.0,27.0,27.0,75.0,14.0,6.0
Belgium,29.0,30.0,29.0,26.0,62.0,20.0,15.0
Cuba,30.0,20.0,31.0,31.0,61.0,NaN,36.5
Bulgaria,31.0,36.0,30.0,28.0,81.0,64.0,24.0
Unified Team,32.0,25.5,34.0,35.0,NaN,NaN,107.5
Unified Team of Germany,33.0,33.0,32.0,32.0,NaN,NaN,73.0
Argentina,34.0,35.0,33.0,34.0,29.0,44.0,28.0
New Zealand,35.0,31.0,45.0,36.0,93.0,21.0,21.0
India,36.5,25.5,52.0,43.0,2.0,100.0,31.5
Ukraine,36.5,38.0,38.0,33.0,28.0,96.0,57.0
Greece,38.0,43.0,35.0,39.0,65.0,35.0,28.0
Czech Republic,39.0,40.5,44.0,38.0,67.0,36.0,50.5
Belarus,40.0,48.5,39.0,37.0,73.0,71.0,45.0
Jamaica,41.0,45.0,36.0,41.0,104.0,75.0,36.5
Croatia,42.0,37.0,40.0,45.0,94.0,49.0,50.5
Pakistan,43.0,40.5,37.0,46.0,6.0,101.0,57.0
Mexico,44.5,44.0,48.0,40.0,9.0,58.0,24.0
South Africa,44.5,46.0,41.0,44.0,22.0,72.0,31.5
Kenya,46.0,47.0,43.0,48.5,27.0,103.0,45.0
Turkey,47.0,42.0,47.0,54.5,17.0,56.0,33.0
Nigeria,48.0,53.0,42.0,51.0,7.0,93.0,64.0
Uruguay,49.0,39.0,94.5,48.5,100.0,40.0,64.0
Iran,50.0,55.0,49.0,53.0,16.0,NaN,34.5