# Explanatory Data Analysis Challenge (Olympic Games)

## Data Import and Inspection

In [86]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [87]:
summer = pd.read_csv('summer.csv')
winter = pd.read_csv('winter.csv')
dic = pd.read_csv('dictionary.csv')

In [ ]:
summer.head()

In [ ]:
winter.head()

In [ ]:
dic.head()

## Merging and Concatenating

#### 1. I am merging summer and winter data frame under the name Olympcs.

In [88]:
olympics = pd.concat([summer,winter], ignore_index= True)

In [ ]:
olympics.head()

In [ ]:
olympics.tail()

#### 2. I am creating an additional column to differentiate the edition. I will use the index to make the difference between both types.

In [ ]:
winter.info()

In [89]:
index = 5770

In [90]:
first_index_winter = len(olympics) - index

In [91]:
olympics.loc[olympics.index < first_index_winter]

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...,...
31160,2012,London,Wrestling,Wrestling Freestyle,"JANIKOWSKI, Damian",POL,Men,Wg 84 KG,Bronze
31161,2012,London,Wrestling,Wrestling Freestyle,"REZAEI, Ghasem Gholamreza",IRI,Men,Wg 96 KG,Gold
31162,2012,London,Wrestling,Wrestling Freestyle,"TOTROV, Rustam",RUS,Men,Wg 96 KG,Silver
31163,2012,London,Wrestling,Wrestling Freestyle,"ALEKSANYAN, Artur",ARM,Men,Wg 96 KG,Bronze
31164,2012,London,Wrestling,Wrestling Freestyle,"LIDBERG, Jimmy",SWE,Men,Wg 96 KG,Bronze

In [92]:
olympics['Edition'] = 'summer'

In [93]:
olympics.loc[olympics.index > first_index_winter, 'Edition'] = 'winter'

In [ ]:
olympics

#### 3. Now I am going to add the full country name from dictionary to Olympics thanks to a join.

In [ ]:
dic.head()

In [94]:
olympics.Country

0        HUN
1        AUT
2        GRE
3        GRE
4        GRE
        ...
36930    GBR
36931    USA
36932    CAN
36933    CZE
36934    FRA
Name: Country, Length: 36935, dtype: object

In [95]:
olympics = olympics.merge(dic, how = 'left', left_on ='Country', right_on = 'Code')

In [97]:
olympics.drop(columns=['GDP per Capita','Code','Population'], inplace=True)

In [99]:
olympics.rename(columns={'Country_x':'Code_country', 'Country_y':'Country'}, inplace=True)

In [100]:
olympics

,Year,City,Sport,Discipline,Athlete,Code_country,Gender,Event,Medal,Edition,Country
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold,summer,Hungary
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver,summer,Austria
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze,summer,Greece
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold,summer,Greece
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver,summer,Greece
...,...,...,...,...,...,...,...,...,...,...,...
36930,2014,Sochi,Skiing,Snowboard,"JONES, Jenny",GBR,Women,Slopestyle,Bronze,winter,United Kingdom
36931,2014,Sochi,Skiing,Snowboard,"ANDERSON, Jamie",USA,Women,Slopestyle,Gold,winter,United States
36932,2014,Sochi,Skiing,Snowboard,"MALTAIS, Dominique",CAN,Women,Snowboard Cross,Silver,winter,Canada
36933,2014,Sochi,Skiing,Snowboard,"SAMKOVA, Eva",CZE,Women,Snowboard Cross,Gold,winter,Czech Republic
36934,2014,Sochi,Skiing,Snowboard,"TRESPEUCH, Chloe",FRA,Women,Snowboard Cross,Bronze,winter,France

## Data Cleaning (Part 1)

1. If you haven´t done it yet: Assign appropriate __Column Headers__ to Country Codes (e.g. __"Code"__) and full Country Names (e.g. __"Country"__).
2. __Remove Spaces__ from column headers in olympics and dictionary.
3. For some Country Codes, there is no corresponding __full Country Name__ available (e.g. for "URS") -> __missing values__ in olympics. Identify these Country Codes and search the Web for the full Country Names. __Replace__ missing values! (Alternatively, you can find a Solution for this at the end of this Notebook!)

In [ ]:
olympics.columns.str.rstrip()

In [114]:
olympics.Code_country.loc[olympics.Country.isna() == True].unique()

array(['ZZX', 'BOH', 'ANZ', 'RU1', 'TCH', 'YUG', 'ROU', 'URS', 'EUA',
       'BWI', 'GDR', 'FRG', 'EUN', 'IOP', 'SRB', nan, 'TTO', 'MNE', 'SGP'],
      dtype=object)

In [116]:
dic_missing_value = {'URS': 'Soviet Union',
 'GDR': 'East Germany',
 'ROU': 'Romania',
 'FRG': 'West Germany',
 'TCH': 'Czechoslovakia',
 'YUG': 'Yugoslavia',
 'EUN': 'Unified Team',
 'EUA': 'Unified Team of Germany',
 'ZZX': 'Mixed teams',
 'SRB': 'Serbia',
 'ANZ': 'Australasia',
 'RU1': 'Russian Empire',
 'MNE': 'Montenegro',
 'TTO': 'Trinidad and Tobago',
 'BOH': 'Bohemia',
 'BWI': 'West Indies Federation',
 'SGP': 'Singapore',
 'IOP': 'Independent Olympic Participants'}

In [125]:
for key in dic_missing_value.keys():
    olympics.loc[olympics.Code_country == key,'Country'] = dic_missing_value[key]

## Data Cleaning (Part 2)

1. __Remove rows__ from olympics where the Country code is unknown. (Make sure you reset the Index -> RangeIndex)
2. Convert the column __Medal__ into an __ordered Categorical__ column ("Bronze" < "Silver" < "Gold")

In [129]:
row_to_remove_index = olympics.loc[olympics.Country.isna()].index

In [170]:
olympics.drop(index, inplace=True)

In [169]:
olympics.reset_index(drop=True,inplace=True)

In [133]:
olympics.Medal

0          Gold
1        Silver
2        Bronze
3          Gold
4        Silver
          ...
36929    Bronze
36930      Gold
36931    Silver
36932      Gold
36933    Bronze
Name: Medal, Length: 36934, dtype: object

In [134]:
olympics.Medal = olympics.Medal.astype("category")

In [139]:
olympics.Medal.sort_values()
olympics.Medal.cat.set_categories(["Bronze", "Silver", "Gold"], ordered = True)

0          Gold
1        Silver
2        Bronze
3          Gold
4        Silver
          ...
36929    Bronze
36930      Gold
36931    Silver
36932      Gold
36933    Bronze
Name: Medal, Length: 36934, dtype: category
Categories (3, object): ['Bronze' < 'Silver' < 'Gold']

In [174]:
olympics.drop(columns = 'index',inplace = True)

KeyError: "['index'] not found in axis"

In [178]:
olympics.drop(columns=olympics.columns[0], inplace=True)

## What are the most successful countries of all times?

For the next questions, use Seaborn plots.
1. What are the __Top 10__ Countries by __total medals__?
2. __Split__ the total medals of Top 10 Countries into __Summer / Winter__. Are there typical Summer/Winter Games Countries? 
3. __Split__ the total medals of Top 10 Countries into __Gold, Silver, Bronze__.

In [186]:
olympics.groupby(['Country']).Medal.count().sort_values(ascending = False).head(10)

Country
United States     5238
Soviet Union      2489
United Kingdom    1799
Germany           1665
France            1548
Italy             1488
Sweden            1477
Canada            1274
Australia         1204
Hungary           1091
Name: Medal, dtype: int64

In [195]:
olympics.groupby(['Country','Edition']).Medal.count().unstack(fill_value = 0).sort_values(by = ['winter'] ,ascending = False).head(10)

Edition        summer  winter
Country
United States    4585     653
Canada            649     625
Norway            554     457
Soviet Union     2049     440
Finland           456     434
Sweden           1044     433
Germany          1305     360
Switzerland       380     285
Austria           146     280
Russia            768     263

In [201]:
olympics.groupby(['Country','Medal']).Medal.count().unstack(fill_value = 0).sort_values(by = ['Gold','Silver','Bronze'], ascending = False).head(10)

Medal           Bronze  Silver  Gold
Country
United States     1265    1571  2402
Soviet Union       677     724  1088
Germany            572     504   589
United Kingdom     587     632   580
Italy              481     473   534
Sweden             505     496   476
Canada             369     435   470
France             578     526   444
Hungary            359     320   412
East Germany       279     321   387

#### As we can see there are what we can call typpical winter games countries such as Canada, Norway, finland. The USA are dominated every domains by gathering the highest number of medal whatever edition it is.

## Do GDP, Population and Politics matter?

1. Create the following __aggregated and merged__ DataFrame with __Top 50 Countries__ (you can see an excerpt with the first 12 Countries). The Column __Total_Games__ shows the __number of Participations__ (as an approximation: determine the number of Editions where Countries have won at least one medal).